:root {
	--color-black: #1b1c21;
	--color-dark-gray: #363639;
	--color-gray: #8b8ea6;
	--color-light-gray: #c3c6d9;
	--color-pink: #ff7dc4;
	--podcast-row-height: 100px;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Miriam Libre', sans-serif;
	background-color: var(--color-black);
	color: var(--color-light-gray);
	margin: 0;
	line-height: 1.65;
}

a {
	color: var(--color-pink);
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}
