:root {
	--font-family: 'Miriam Libre', sans-serif;
	--color-black: #1b1c21;
	--color-dark-gray: #363639;
	--color-gray: #8b8ea6;
	--color-light-gray: #c3c6d9;
	--color-blue-gray: #8593a6;
	--color-pink: #ff7dc4;
	--podcast-row-height: 100px;
	--row-button-width: 40px;

	@media (min-width: $medium-breakpoint) {
		--row-button-width: 60px;
	}
}

html {
	box-sizing: border-box;
	font-size: 14px;

	@media (min-width: $medium-breakpoint) {
		font-size: 16px;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: var(--font-family);
	background-color: var(--color-black);
	color: var(--color-light-gray);
	margin: 0;
	line-height: 1.65;
}

h1 {
	font-size: 1.2rem;
	font-weight: 400;

	@media (min-width: $small-breakpoint) {
		font-size: 1.4rem;
	}

	@media (min-width: $medium-breakpoint) {
		font-size: 1.8rem;
	}
}

h2 {
	font-size: 1.2rem;
	font-weight: 400;

	@media (min-width: $small-breakpoint) {
		font-size: 1.25rem;
	}

	@media (min-width: $medium-breakpoint) {
		font-size: 1.5rem;
	}
}

a {
	color: var(--color-pink);
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}
